@import "tailwindcss";

#map {
  width: 700px !important;
  height: 700px !important;
  margin-bottom: 20px;
}
#wordcloud {
  width: 900px;
  height: 450px;
  display: block !important;  /* Ensure it's visible */
  position: relative;
}
a {
  text-decoration: none;
  cursor: pointer;
}


.color-fix-border {
  border-color: rgb(105, 179, 162);
}

.color-fix-bg {
  background-color: rgb(105, 179, 162);
}
.color-fix-text {
  color: rgb(105, 179, 162);
}

.info-window h3 {
  font-size: 24px !important;
}

.info-window p {
  font-size: 14px !important;
}

#legend span {
  font-size: 14px !important;
}